[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyyaml = "*"
ansible = "==7.1.0"

[dev-packages]
mypy = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
